<!DOCTYPE html>
<html>
<head>
    <title>Already registered | Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Već ste registrovani</h1>
<h3><%= username %></h3>
<a href="/">Nazad</a>
</body>
</html>
