
<!DOCTYPE html>
<html>
<head>
    <title>Dobrodošli | Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Dobrodošli</h1>
<h3><%= username %></h3>
<a href="/todo">Todo list</a>
</body>
</html>
