<!DOCTYPE html>
<html>
<head>
    <title>Home | Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form method="post">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="password" name="password">
    <br>
    <input type="submit" name="login" value="Login" onclick="javascript: form.action='/login';">
    <input type="submit" name="signUp" value="Sign up"  onclick="javascript: form.action='/signup';">
</form>
</body>
</html>
