<!DOCTYPE html>
<html>
<head>
    <title>Not registered | Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Niste registrovani</h1>
    <a href="/">Nazad</a>
</body>
</html>
